<div
  class="page-container sm:p-0 md:p-2 mx-auto px-2 sm:px-6 lg:px-8 flex justify-center"
>
  <app-header></app-header>
  <!-- Board Container -->
  <div class="w-full h-auto py-2 pt-4">
    <!-- Individual Card Container -->
    <div
      class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4"
    >
      <!-- Board 1 -->
      <div class="overflow-auto flex justify-center">
        <div class="board-card todo">
          <!-- Board Heading -->
          <div class="flex justify-between">
            <div class="flex items-center">
              <span
                class="total-amount px-3 py-2 rounded-3xl sm:text-sm md:text-md"
                >3</span
              >
              <span
                class="board-title new-todo ml-4 sm:text-sm md:text-md lg:text-lg"
              >
                New Todos
              </span>
            </div>
            <i
              class="bi bi-plus text-2xl lg:text-4xl cursor-pointer text-blue-900 hover:text-slate-500"
            ></i>
          </div>
          <!-- Box -->
          <div
            class="rounded-xl bg-white hover:drop-shadow-md p-2 md:p-4 mt-2 md:mt-4"
          >
            <span class="toto-title"
              >Brushing My teeth Brushing My teeth Brushing My teeth</span
            >
            <div class="w-full border border-gray-300 mt-4"></div>
            <div class="flex justify-between mt-4 items-center">
              <mat-chip>
                <i class="bi bi-calendar-date"></i>
                12/12/2024
              </mat-chip>
              <div class="flex justify-content-end items-center">
                <span class="priority">High</span>
                <i
                  class="bi bi-three-dots-vertical text-xl lg:text-2xl cursor-pointer text-blue-900 hover:text-slate-500"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Board 2 -->
      <div>
        <div class="board-card complete"></div>
      </div>
      <!-- Board 3 -->
      <div class="">
        <div class="board-card blocked"></div>
      </div>
    </div>
  </div>
</div>
