<div class="page-container m-0 sm:p-0 md:p-2 mx-auto px-2 sm:px-6 lg:px-8">
  <img src="assets/images/404.png" alt="Not FOund" />
  <div class="mt-4 text-center">
    <span class="font-extrabold text-4xl text-blue-900">404 Not Found</span
    ><br />
    <span class="font-extrabold text-2xl text-gray-700"
      >Whoops! That page doesn’t exist.</span
    >
  </div>
  <div class="link-box-container mt-5">
    <span class="text-lg text-gray-700"
      >Here are some helpful links instead:
    </span>
    <div class="mt-2 w-full flex justify-around">
      <a routerLink="/main" class="link">Home</a>
      <a routerLink="/auth">Login</a>
      <a routerLink="/auth/register">Register</a>
    </div>
  </div>
</div>
