<h1 mat-dialog-title>Add Task</h1>
<hr />
<form [formGroup]="todoForm" (ngSubmit)="onSubmitForm()">
  <mat-dialog-content>
    <div class="col-span-full">
      <!-- 1 -->
      <div class="mt-2">
        <textarea
          id="description"
          name="description"
          placeholder="Task Description"
          class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          formControlName="description"
        ></textarea>
        <div
          *ngIf="
            todoForm.get('description')?.invalid &&
            todoForm.get('description')?.touched
          "
          class="mt-1 text-red-500"
        >
          Description is required.
        </div>
      </div>

      <!-- 2 -->
      <div class="sm:col-span-3 mt-5">
        <div class="mt-2">
          <select
            id="priority"
            name="priority"
            autocomplete="priority"
            class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
            formControlName="priority"
          >
            <option selected disabled value="0">Priority</option>
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
          <div
            *ngIf="
              todoForm.get('priority')?.invalid &&
              todoForm.get('priority')?.touched
            "
            class="mt-1 text-red-500"
          >
            Priority is required.
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div class="sm:col-span-3 mt-5">
        <div class="mt-2">
          <div
            class="flex justify-between w-full rounded-md border-0 py-0.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6"
          >
            <input
              matInput
              class="outline-none"
              [matDatepicker]="picker"
              [min]="minDate"
              placeholder="choose date"
              formControlName="targetedTime"
            />
            <mat-datepicker-toggle
              class="w-full flex justify-end cursor-pointer"
              matIconSuffix
              [for]="picker"
            >
              <i
                class="bi bi-calendar-date text-md lg:text-lg"
                matDatepickerToggleIcon
              ></i>
            </mat-datepicker-toggle>
          </div>
          <mat-datepicker #picker></mat-datepicker>
          <div
            class="mt-1 text-red-500 w-full max-w-sm"
            *ngIf="
              todoForm.get('targetedTime')?.invalid &&
              todoForm.get('targetedTime')?.touched
            "
          >
            Must be a valid date, click on the <b>Calendar Icon</b> to choose a
            valid date.
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <hr />
  <mat-dialog-actions>
    <div class="w-full flex justify-end pr-3">
      <button
        (click)="onCloseDialog()"
        type="button"
        class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-red-700 shadow-sm ring-1 ring-inset ring-red-300 hover:bg-gray-50"
      >
        Cancel
      </button>

      <button
        *ngIf="!isLoading"
        type="submit"
        class="ml-3 rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        [disabled]="todoForm.invalid"
        [class.opacity-50]="todoForm.invalid"
      >
        Save
      </button>
      <button
        class="ml-3 flex rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        *ngIf="isLoading"
        type="button"
      >
        <mat-spinner class="spinner"></mat-spinner>
        <span class="button__text">{{ "login.loading" | transloco }} ...</span>
      </button>
    </div>
  </mat-dialog-actions>
</form>
