<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login">
        <div class="login__field">
          <i class="login__icon bi bi-envelope-at-fill"></i>
          <input type="email" class="login__input" placeholder="Your Email" />
        </div>
        <div class="login__field">
          <i class="login__icon bi bi-lock-fill"></i>
          <input
            [type]="passwordFieldTypeText ? 'text' : 'password'"
            class="login__input"
            placeholder="Your Password"
          />
          <i
            class="login__icon hover:cursor-pointer bi"
            [ngClass]="{
            'bi-eye-slash-fill': !passwordFieldTypeText,
            'bi-eye-fill': passwordFieldTypeText,
          }"
            (click)="togglePasswordFieldType()"
          ></i>
        </div>
        <button class="button login__submit">
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <h3><a routerLink="/auth/register">Register</a></h3>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
