<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="login__field">
          <i class="login__icon bi bi-envelope-at-fill"></i>
          <input
            type="email"
            class="login__input"
            required
            formControlName="email"
            placeholder="{{ 'login.yourEmail' | transloco }}"
          />
        </div>
        <div class="login__field">
          <i class="login__icon bi bi-lock-fill"></i>
          <input
            [type]="passwordFieldTypeText ? 'text' : 'password'"
            class="login__input"
            formControlName="password"
            required
            minlength="6"
            placeholder="{{ 'login.yourPassword' | transloco }}"
          />
          <i
            class="login__icon hover:cursor-pointer bi"
            [ngClass]="{
            'bi-eye-slash-fill': !passwordFieldTypeText,
            'bi-eye-fill': passwordFieldTypeText,
          }"
            (click)="togglePasswordFieldType()"
          ></i>
        </div>
        <div
          class="error-box"
          *ngIf="
            !loginForm.get('password').valid &&
            loginForm.get('password').touched
          "
        >
          <span
            *ngIf="loginForm.get('password').errors?.['pattern']"
            class="error-text"
            >Example:<b>123@Qwe</b></span
          >
        </div>
        <button
          class="button login__submit"
          type="submit"
          [disabled]="loginForm.invalid"
          [class.opacity-50]="loginForm.invalid"
        >
          <span class="button__text">{{ "login.loginNow" | transloco }}</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <h3>
          <a routerLink="/auth/register">{{ "login.register" | transloco }}</a>
        </h3>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
