<div class="container border-2 border-black">
  <div class="screen">
    <div class="screen__content">
      <form class="login" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="login__field">
          <i class="login__icon bi bi-person-fill"></i>
          <input
            type="text"
            class="login__input"
            required
            formControlName="fullName"
            placeholder="{{ 'register.name' | transloco }}"
          />
        </div>
        <div class="login__field">
          <i class="login__icon bi bi-envelope-at-fill"></i>
          <input
            type="email"
            class="login__input"
            required
            formControlName="email"
            placeholder="{{ 'login.yourEmail' | transloco }}"
          />
        </div>
        <div class="login__field">
          <i class="login__icon bi bi-key-fill"></i>
          <input
            [type]="passwordFieldTypeText ? 'text' : 'password'"
            class="login__input"
            formControlName="password"
            required
            minlength="6"
            placeholder="{{ 'login.yourPassword' | transloco }}"
          />
          <i
            class="login__icon cursor-pointer bi"
            [ngClass]="{
              'bi-eye-slash-fill': !passwordFieldTypeText,
              'bi-eye-fill': passwordFieldTypeText
            }"
            (click)="togglePasswordFieldType()"
          ></i>
        </div>
        <div
          class="error-box"
          *ngIf="
            !registerForm.get('password').valid &&
            registerForm.get('password').touched
          "
        >
          <span
            *ngIf="registerForm.get('password').errors?.['pattern']"
            class="error-text"
            >Example:<b>123@Qwe</b></span
          >
        </div>
        <div class="login__field">
          <i class="login__icon bi bi-lock-fill"></i>
          <input
            [type]="confirmPasswordFieldTypeText ? 'text' : 'password'"
            class="login__input"
            formControlName="confirmPassword"
            required
            minlength="6"
            placeholder="{{ 'register.confirmPassword' | transloco }}"
          />
          <i
            class="login__icon-white cursor-pointer bi"
            [ngClass]="{
              'bi-eye-slash-fill': !confirmPasswordFieldTypeText,
              'bi-eye-fill': confirmPasswordFieldTypeText
            }"
            (click)="toggleConfirmPasswordFieldType()"
          ></i>
        </div>
        <div
          class="error-box"
          *ngIf="
            !registerForm.get('confirmPassword').valid &&
            registerForm.get('confirmPassword').touched
          "
        >
          <span
            *ngIf="registerForm.get('confirmPassword').errors?.['pattern']"
            class="error-text"
            >Example:<b>123@Qwe</b></span
          >
          <span
            *ngIf="registerForm.get('confirmPassword').errors?.['mustMatch']"
            class="error-text"
            >{{ "register.mustMatch" | transloco }}</span
          >
        </div>
        <button
          class="button login__submit"
          type="submit"
          [disabled]="registerForm.invalid"
          [class.opacity-50]="registerForm.invalid"
          *ngIf="!isLoading"
        >
          <span class="button__text">{{
            "register.registerNow" | transloco
          }}</span>
        </button>
        <button class="button login__submit" *ngIf="isLoading">
          <mat-spinner class="spinner"></mat-spinner>
          <span class="button__text"
            >{{ "login.loading" | transloco }} ...</span
          >
        </button>
      </form>
      <div class="social-login">
        <h3>
          <a routerLink="/auth/login">{{ "login.login" | transloco }}</a>
        </h3>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
