<div cdkDropListGroup>
  <!-- Board Container -->
  <div class="w-full h-auto py-2 pt-4">
    <!-- Individual Card Container -->
    <div
      class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4"
    >
      <!-- Board 1 -->
      <div class="overflow-auto flex justify-center">
        <div
          class="board-card todo"
          cdkDropList
          [cdkDropListData]="todoTasks"
          id="1"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Board Heading -->
          <div class="flex justify-between">
            <div class="flex items-center">
              <span
                class="total-amount new-todo px-3 py-2 rounded-3xl sm:text-sm md:text-md"
                >{{ todoTasks.length }}</span
              >
              <span
                class="board-title new-todo ml-4 sm:text-sm md:text-md lg:text-lg"
              >
                {{ "todo.newTodo" | transloco }}
              </span>
            </div>
            <i
              class="bi bi-plus text-2xl lg:text-4xl cursor-pointer text-blue-900 hover:text-slate-500"
            ></i>
          </div>
          <!-- Box -->
          <div
            *ngFor="let todo of todoTasks; trackBy: trackByTodoId"
            cdkDrag
            [cdkDragData]="todo"
          >
            <div
              class="rounded-xl bg-white hover:drop-shadow-md p-2 md:p-4 mt-2 md:mt-4"
            >
              <span class="toto-title">{{ todo.description }}</span>
              <div class="w-full border border-gray-300 mt-4"></div>
              <div class="flex justify-between mt-4 items-center">
                <mat-chip>
                  <i class="bi bi-calendar-date"></i>
                  {{ todo.targetedTime | date : getDateFormat() }}
                </mat-chip>
                <div class="flex justify-content-end items-center">
                  <ng-container *ngIf="todo.priority == 1">
                    <span
                      class="priority"
                      style="background-color: #ffbbbb; color: #d71111"
                      >{{ "todo.high" | transloco }}</span
                    >
                  </ng-container>
                  <ng-container *ngIf="todo.priority == 2">
                    <span
                      class="priority"
                      style="background-color: #fdf6e8; color: #fa8e4a"
                      >{{ "todo.medim" | transloco }}</span
                    >
                  </ng-container>
                  <ng-container *ngIf="todo.priority == 3">
                    <span
                      class="priority"
                      style="background-color: #dff0ed; color: #32b580"
                      >{{ "todo.low" | transloco }}</span
                    >
                  </ng-container>
                  <i
                    [matMenuTriggerFor]="todosDropdownMenu"
                    class="bi bi-three-dots-vertical text-xl lg:text-2xl cursor-pointer text-blue-900 hover:text-slate-500"
                  ></i>
                  <mat-menu #todosDropdownMenu="matMenu">
                    <button mat-menu-item>
                      <i
                        class="bi bi-pencil-square text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      <span>{{ "todo.updateInformations" | transloco }}</span>
                    </button>
                    <button
                      mat-menu-item
                      [matMenuTriggerFor]="editPriorityDropdown"
                    >
                      <i
                        class="bi bi-pencil-square text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      <span>{{ "todo.editPriority" | transloco }}</span>
                    </button>
                    <button mat-menu-item>
                      <i
                        class="bi bi-trash text-xl lg:text-2xl cursor-pointer text-red-500 mr-3"
                      ></i>
                      <span class="text-red-500">{{
                        "todo.delete" | transloco
                      }}</span>
                    </button>
                  </mat-menu>
                  <mat-menu #editPriorityDropdown="matMenu">
                    <button
                      *ngIf="todo.priority !== 3"
                      (click)="updatePriority(todo.todoId, 3)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-arrow-90deg-down text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toLow" | transloco }}
                    </button>
                    <button
                      *ngIf="todo.priority !== 2"
                      (click)="updatePriority(todo.todoId, 2)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-chevron-bar-contract text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toMedium" | transloco }}
                    </button>
                    <button
                      *ngIf="todo.priority !== 1"
                      (click)="updatePriority(todo.todoId, 1)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-arrow-90deg-up text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toHigh" | transloco }}
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
          <!-- Add new Todo -->
          <div
            class="new-box rounded-xl p-2 md:p-4 mt-4 md:mt-8 cursor-pointer"
          >
            <i
              class="bi bi-plus text-2xl lg:text-4xl cursor-pointer text-blue-900 hover:text-slate-500"
            ></i>
            <span class="toto-title">{{ "todo.addNewTodo" | transloco }}</span>
          </div>
        </div>
      </div>

      <!-- Board 2 -->
      <div class="overflow-auto flex justify-center">
        <div
          class="board-card complete"
          cdkDropList
          [cdkDropListData]="completedTasks"
          id="2"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Board Heading -->
          <div class="flex justify-between">
            <div class="flex items-center">
              <span
                class="total-amount completed-todo px-3 py-2 rounded-3xl sm:text-sm md:text-md"
                >{{ completedTasks.length }}</span
              >
              <span
                class="board-title completed-todo ml-4 sm:text-sm md:text-md lg:text-lg"
              >
                {{ "todo.completedTodo" | transloco }}
              </span>
            </div>
          </div>
          <!-- Box -->
          <div
            *ngFor="let todo of completedTasks; trackBy: trackByTodoId"
            cdkDrag
            [cdkDragData]="todo"
            cdkDrag
          >
            <div
              class="rounded-xl bg-white hover:drop-shadow-md p-2 md:p-4 mt-2 md:mt-4"
            >
              <span class="toto-title">{{ todo.description }}</span>
              <div class="w-full border border-gray-300 mt-4"></div>
              <div class="flex justify-between mt-4 items-center">
                <mat-chip>
                  <i class="bi bi-calendar-date"></i>
                  {{ todo.targetedTime | date : getDateFormat() }}
                </mat-chip>
                <div class="flex justify-content-end items-center">
                  <ng-container *ngIf="todo.priority == 1">
                    <span
                      class="priority"
                      style="background-color: #ffbbbb; color: #d71111"
                      >{{ "todo.high" | transloco }}</span
                    >
                  </ng-container>
                  <ng-container *ngIf="todo.priority == 2">
                    <span
                      class="priority"
                      style="background-color: #fdf6e8; color: #fa8e4a"
                      >{{ "todo.medim" | transloco }}</span
                    >
                  </ng-container>
                  <ng-container *ngIf="todo.priority == 3">
                    <span
                      class="priority"
                      style="background-color: #dff0ed; color: #32b580"
                      >{{ "todo.low" | transloco }}</span
                    >
                  </ng-container>
                  <i
                    [matMenuTriggerFor]="completedDropdownMenu"
                    class="bi bi-three-dots-vertical text-xl lg:text-2xl cursor-pointer text-blue-900 hover:text-slate-500"
                  ></i>
                  <mat-menu #completedDropdownMenu="matMenu">
                    <button mat-menu-item>
                      <i
                        class="bi bi-pencil-square text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      <span>{{ "todo.updateInformations" | transloco }}</span>
                    </button>
                    <button
                      mat-menu-item
                      [matMenuTriggerFor]="editCompletedPriorityDropdown"
                    >
                      <i
                        class="bi bi-pencil-square text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      <span>{{ "todo.editPriority" | transloco }}</span>
                    </button>
                    <button mat-menu-item>
                      <i
                        class="bi bi-trash text-xl lg:text-2xl cursor-pointer text-red-500 mr-3"
                      ></i>
                      <span class="text-red-500">{{
                        "todo.delete" | transloco
                      }}</span>
                    </button>
                  </mat-menu>
                  <mat-menu #editCompletedPriorityDropdown="matMenu">
                    <button
                      *ngIf="todo.priority !== 3"
                      (click)="updatePriority(todo.todoId, 3)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-arrow-90deg-down text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toLow" | transloco }}
                    </button>
                    <button
                      *ngIf="todo.priority !== 2"
                      (click)="updatePriority(todo.todoId, 2)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-chevron-bar-contract text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toMedium" | transloco }}
                    </button>
                    <button
                      *ngIf="todo.priority !== 1"
                      (click)="updatePriority(todo.todoId, 1)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-arrow-90deg-up text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toHigh" | transloco }}
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
          <!-- Nothing Found -->
          <div
            *ngIf="completedTasks.length === 0"
            class="no-todo-found no-completed-found rounded-xl p-2 md:p-4 mt-4 md:mt-8"
          >
            <span class="completed-todo">{{
              "todo.noTodoAdded" | transloco
            }}</span>
          </div>
        </div>
      </div>

      <!-- Board 2 -->
      <div class="overflow-auto flex justify-center">
        <div
          class="board-card blocked"
          cdkDropList
          [cdkDropListData]="blockedTasks"
          id="3"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Board Heading -->
          <div class="flex justify-between">
            <div class="flex items-center">
              <span
                class="total-amount blocked-todo px-3 py-2 rounded-3xl sm:text-sm md:text-md"
                >{{ blockedTasks.length }}</span
              >
              <span
                class="board-title blocked-todo ml-4 sm:text-sm md:text-md lg:text-lg"
              >
                {{ "todo.blockedTodo" | transloco }}
              </span>
            </div>
          </div>
          <!-- Box -->
          <div
            *ngFor="let todo of blockedTasks; trackBy: trackByTodoId"
            cdkDrag
            [cdkDragData]="todo"
            cdkDrag
          >
            <div
              class="rounded-xl bg-white hover:drop-shadow-md p-2 md:p-4 mt-2 md:mt-4"
            >
              <span class="toto-title-blocked blocked-todo">{{
                todo.description
              }}</span>
              <div class="w-full border border-gray-300 mt-4"></div>
              <div class="flex justify-between mt-4 items-center">
                <mat-chip>
                  <i class="bi bi-calendar-date"></i>
                  {{ todo.targetedTime | date : getDateFormat() }}
                </mat-chip>
                <div class="flex justify-content-end items-center">
                  <ng-container *ngIf="todo.priority == 1">
                    <span
                      class="priority"
                      style="background-color: #ffbbbb; color: #d71111"
                      >{{ "todo.high" | transloco }}</span
                    >
                  </ng-container>
                  <ng-container *ngIf="todo.priority == 2">
                    <span
                      class="priority"
                      style="background-color: #fdf6e8; color: #fa8e4a"
                      >{{ "todo.medim" | transloco }}</span
                    >
                  </ng-container>
                  <ng-container *ngIf="todo.priority == 3">
                    <span
                      class="priority"
                      style="background-color: #dff0ed; color: #32b580"
                      >{{ "todo.low" | transloco }}</span
                    >
                  </ng-container>
                  <i
                    [matMenuTriggerFor]="blockedDropdownMenu"
                    class="bi bi-three-dots-vertical text-xl lg:text-2xl cursor-pointer text-blue-900 hover:text-slate-500"
                  ></i>
                  <mat-menu #blockedDropdownMenu="matMenu">
                    <button mat-menu-item>
                      <i
                        class="bi bi-pencil-square text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      <span>{{ "todo.updateInformations" | transloco }}</span>
                    </button>
                    <button
                      mat-menu-item
                      [matMenuTriggerFor]="editBlockedPriorityDropdown"
                    >
                      <i
                        class="bi bi-pencil-square text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      <span>{{ "todo.editPriority" | transloco }}</span>
                    </button>
                    <button mat-menu-item>
                      <i
                        class="bi bi-trash text-xl lg:text-2xl cursor-pointer text-red-500 mr-3"
                      ></i>
                      <span class="text-red-500">{{
                        "todo.delete" | transloco
                      }}</span>
                    </button>
                  </mat-menu>
                  <mat-menu #editBlockedPriorityDropdown="matMenu">
                    <button
                      *ngIf="todo.priority !== 3"
                      (click)="updatePriority(todo.todoId, 3)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-arrow-90deg-down text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toLow" | transloco }}
                    </button>
                    <button
                      *ngIf="todo.priority !== 2"
                      (click)="updatePriority(todo.todoId, 2)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-chevron-bar-contract text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toMedium" | transloco }}
                    </button>
                    <button
                      *ngIf="todo.priority !== 1"
                      (click)="updatePriority(todo.todoId, 1)"
                      mat-menu-item
                    >
                      <i
                        class="bi bi-arrow-90deg-up text-xl lg:text-2xl cursor-pointer text-blue-900 mr-3"
                      ></i>
                      {{ "todo.toHigh" | transloco }}
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
          <!-- Nothing Found -->
          <div
            *ngIf="blockedTasks.length === 0"
            class="no-todo-found no-blocked-found rounded-xl p-2 md:p-4 mt-4 md:mt-8"
          >
            <span class="blocked-todo">{{
              "todo.noTodoAdded" | transloco
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
